/* selector universal*/
* {
    margin: 0;
    padding: 0;

}

/*selector de etiqueta*/
body{
    background-color: #262527;
    color: white;

}

/*selector id*/
#contenedor {
    width: 900px;
    height: 4715px;
    background-color: #515255;
    margin: 10px;
    padding: 20px;


}

#encabezado {
    width: 90%;
    background-color: #3e3f42;
    margin: 1em;
    border-radius: 5px;
    text-align: center;

}

#menu {
    height: 45px;
    background-color: rgb(91, 92, 94);
    margin: 1em;
    border-radius: 5px;

}

/*selector de etiqueta para menu*/
ul{
    text-align: center;
    padding: 10px;

}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;


}

img:hover{
    width: 50%;

}

li a:hover {
    color: crimson;
    text-decoration: none;
    list-style: none;
    font-size: 20px;

}

/*selector de clase*/
.img {
    width: 50%;
    border-radius: 30px;
    justify-items: center;


}

.texto {
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding: 5px 25px;
    color: rgb(255, 255, 255);


}

#pie {
    text-align: center;
    background-color: #515255;
    padding: 5px;
    border-radius: 5px;

}

#pie h4{
    padding: 15px;
    font-size: 30px;
    color: black;
}

.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;

}

.card:hover{
    max-width: 310px;
}

.card img{
    background-color: none;
}

.title {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

button{
    border: none;
    outline: 0;
    display: inline-block;
    pad: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}


