/* selector universal*/
* {
    margin: 0;
    padding: 0;

}

/*selector de etiqueta*/
body{
    background-color: rgb(188, 213, 235);
    color: white;

}

#encabezado {
    width: 90%;
    margin: 1em;
    border-radius: 5px;
    text-align: center;

}

#contenedorindex {
    width: 900px;
    height: 4715px;
    background-color: rgb(107, 145, 202);
    margin: 10px;
    padding: 20px;

}

#menu {
    height: 45px;
    background-color: rgb(188, 213, 235);
    margin: 1em;
    border-radius: 5px;

}

/*selector de etiqueta para menu*/
ul{
    text-align: center;
    padding: 10px;

}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;


}

img:hover{
    width: 50%;

}

li a:hover {
    color: crimson;
    text-decoration: none;
    list-style: none;
    font-size: 20px;

}

.img {
    width: 50%;
    border-radius: 30px;
    justify-items: center;


}
